use node lts
use python 3.11
layout python

export LITELLM_MASTER_KEY="$(gopass show -o sk/litellm_master_$USER@$(hostname))"
export AIDER_OPENAI_API_BASE="http://localhost:4000"
export AIDER_OPENAI_API_KEY="$LITELLM_MASTER_KEY"
